[Unit]
Description=SeeYaLater DVB miner
After=syslog.target network-online.target

[Service]
Type=simple
User=seeYaLater
ExecStart=/usr/bin/python3.5 /usr/src/seeYaLater/main.py
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target