.map__wrapper {
  position: fixed;
  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  margin-top: 60px;

  $blurRadius: 6px;
  &.map__covered {
    -webkit-filter: blur($blurRadius);
    -moz-filter: blur($blurRadius);
    -o-filter: blur($blurRadius);
    -ms-filter: blur($blurRadius);
    filter: blur($blurRadius);
  }

  &:active {
    cursor: all-scroll;
  }

  > svg {
    transition-property: all;
    transition-duration: 100ms;
  }
}

.map--controls {
  position: fixed;

  right: 32px;
  bottom: 32px;

  width: 50px;
  height: 100px;

  .button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 42px;
    height: 42px;

    margin-bottom: 8px;

    border-radius: 25px;

    font-size: 2rem;

    cursor: pointer;
    color: white;
    background-color: #7f828b;
    user-select: none;
  }
}
