.stop-details__wrapper {
  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 1;
  flex-shrink: 0;

  width: 100%;
  height: 100%;

  padding-top: 30px;

  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.stop-details__header {
  display: flex;
  justify-content: space-around;
}

.stop-details__header-item {
  width: 100%;
  padding: 12px;

  cursor: pointer;

  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-collapse: collapse;

  background-color: #932233;
  z-index: 1000;

  &.stop-details__header-item--active {
    background-color: #C42D46;
  }
}


.departure--row {
  display: flex;

  width: 100%;
  max-width: 400px;

  padding: 4px;

  .departure--line {
    flex-grow: 0;
    flex-shrink: 0;
    width: 40px;
  }

  .departure--direction {
    flex-grow: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .departure--scheduled {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-end;
    width: 40px;
  }

  .departure--delay {
    flex-grow: 0;
    flex-shrink: 0;
    align-self: flex-end;
    margin-left: 12px;
    width: 40px;
  }
}
