$color: #acacac;

.stop {
    padding: 300px;
}

.stop__rect {
    fill: $color;
}

.stop__text {
    font-size: 250px;
    fill: $color;

    &.stop_text--hidden {
        display: none;   
    }
}

.connection {
    cursor: pointer;
    
    &.connection--inactive {
        stroke: #878787 !important;
    }
}