$color: #acacac;

.stop {
    padding: 300px;
}

.stop__point {
    fill: $color;
}

.stop__text {
    font-size: 250px;
    fill: $color;

    &.stop_text--hidden {
        display: none;   
    }
}

.connection-line:hover {
    fill: blue;
}