.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  height: 64px;
  width: 100%;

  z-index: 300;

  color: #F5F5F5;
  background-color: #511C29;
  user-select: none;
}
