.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  height: 64px;
  width: 100%;

  z-index: 300;

  color: #F5F5F5;
  background-color: #511C29;
  user-select: none;
}

.top-bar--content {
  margin-left: 20px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

